nav {
	background-color: #FFA500;
	height: 80px;
}
ul {
	list-style-type: none;
	display: flex;
	margin: 10px;
	padding: 30px;
}
ul li {
	float: left;
	height: 45px;
}
ul li a {
	background: white;
	border: 5px double red;
	color: red;
	padding: 12px 25px;
	text-decoration: none;
}
a:hover{background-color:#D3D3D3}
body {
	margin: 70px;
	background-color: #C0C0C0;
	font-family: courier;
}
.dugme {
	border-radius: 75%;
	font-size: 15pt;
	background-color: #D3D3D3; 
    color: black; 
    border: 5px solid #FFA500;
}